.DS_Store
public
resources
.idea
assets/indices/linkIndex.json
assets/indices/contentIndex.json
linkmap
content/.obsidian/plugins/dataview
content/.obsidian/plugins/templater-obsidian
content/.obsidian/themes/
content/.obsidian/app.json
content/.obsidian/appearance.json
content/.obsidian/core-plugins-migration.json
content/.obsidian/community-plugins.json
content/.obsidian/core-plugins.json
content/.obsidian/graph.json
content/.obsidian/hotkeys.json
content/.obsidian/starred.json
content/.obsidian/workspace.json
